# Database credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_HOST=localhost:5432
POSTGRES_DB=clearhear

# Clerk credentials
CLERK_SECRET_KEY=
CLERK_JWT_KEY=
CLERK_AUTHORIZED_PARTIES=

# Groq API key
GROQ_API_KEY=

# LM Studio credentials
LMSTUDIO_BASE_URL=
LMSTUDIO_API_KEY=
LMSTUDIO_CHAT_MODEL=